.chat-column {
  width: 100%;
}

.messages, .chat-section, .messages-bubble, .chat-bubble, .bubbles-bg {
  display: flex;
  flex: 1;
}

.messages {
  height: 80%;
}

.chat-section {
  height: 20%;
}

.messages-bubble {
  padding: 20px 40px 10px;
}

.chat-bubble {
  padding: 10px 40px 20px;
}

.bubbles-bg {
  background-color: #ffffffde;
  padding: 30px;
  border-radius: 25px;
  flex-direction: column;
  overflow-y: auto;
}

.bubbles-bg.no-overflow {
  overflow: hidden;
}

.contact-message, .user-message {
  height: fit-content;
  width: fit-content;
  min-width: 35%;
  max-width: 80%;
  padding: 20px;
  margin-top: 5px;
  display: flex;
  font-weight: 500;
}

.contact-message {
  background-color: white;
  border-radius: 0 14px 14px;
}

.user-message {
  background-color: #f9f8f8;
  border-radius: 14px 0px 14px 14px;
  align-self: flex-end;
  background-color: #d3d3d3;
}

.chat-bubble .bubbles-bg {
  flex-direction: row;
}

.send-btn {
  margin: auto 18px auto 0;
  width: 52px;
  opacity: 0.7;
}

.chat-default-msg {
  font-weight: 500;
}

.no-contacts-msg {
  display: flex;
  padding: 20px 24px;
}

.no-contacts-msg {
  font-weight: 600;
  padding-top: 10px;
}

.filter {
  display: flex;
  padding: 18px 8px;
}
